@use "sass:map";
@use "../variables" as *;
@use "../variables/sizes" as *;

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

/**<Container>**/
:root {
	--grid-margin: #{$grid-margin};
	--container-border: 2px;
	--container-border-radius: 8px;

	--bg-color: #4373a7;
	--bg-color-darker: #003c6b;
	--bg-gradient-angle: 180deg;
	--bg-gradient-distance: 60%;
	--bg-gradient-mask-light: #c9c9c966;
	--bg-gradient-mask-dark: #33333369;
}

.Container {
    width: 100%;
    height: 100%;
    display: flex;
	flex-direction: column;

	> .Header, > .Footer {
		display: flex;
		align-items: center;
		flex-shrink: 0;
	}

	> .Header {
	    width: 100%;
	    min-height: 30px;
	}

	> .Footer {
		width: 100%;
		min-height: 20px;
	    width: 100%;
	}

	> .Content {
		width: 100%;
		height: auto;
		flex-grow: 1;
	}

	&.Horizontal {
		flex-direction: row;

		> .Header {
			min-width: 30px;
			height: 100%;
		}

		> .Footer {
			min-width: 30px;
			height: 100%;
		}

		> .Content {
			width: auto;
			height: 100%;
		}
	}
}

.Content {
    display: flex;
    flex-direction: column;

	&.Row {
	    flex-direction: row;
	}
}

.Col,.Row {
    margin: 0px;
    display: flex;
    flex-grow: 1;
    width: auto;
    height: auto;
}

.Row {
	height: 100%;
	flex-direction: row;
}

.Col {
	width: 100%;
	flex-direction: column;
}

.Col > *,.Row > * {
    flex-grow: 1;
}

.Row > div, .Col > div, .Content > div:not(.Row):not(.Col) {
    width: auto;
    height: auto;
    margin: calc(var(--grid-margin) / 2);
    flex-grow: 0;
}

.Content > .Row:first-child, .Content > .Col:first-child {margin-top: calc(var(--grid-margin) / 2);}
.Content > :not(.Row):not(.Col):first-child {margin-top: var(--grid-margin);}
.Content.Row > :not(.Row):not(.Col) {margin-top: var(--grid-margin)}

.Content > .Row:last-child, .Content > .Col:last-child {margin-bottom: calc(var(--grid-margin) / 2);}
.Content > :not(.Row):not(.Col):last-child {margin-bottom: var(--grid-margin);}
.Content.Row > :not(.Row):not(.Col) {margin-bottom: var(--grid-margin)}

.Content > .Row, .Content > .Col {margin-left: calc(var(--grid-margin) / 2);}
.Content > :not(.Row):not(.Col) {margin-left: var(--grid-margin);}
.Content.Row > :not(.Row):not(.Col) {margin-left: calc(var(--grid-margin) / 2)}
.Content.Row > :not(.Row):not(.Col):first-child {margin-left: var(--grid-margin)}

.Content > .Row, .Content > .Col {margin-right: calc(var(--grid-margin) / 2);}
.Content > :not(.Row):not(.Col) {margin-right: var(--grid-margin);}
.Content.Row > :not(.Row):not(.Col) {margin-right: calc(var(--grid-margin) / 2);}
.Content.Row > :not(.Row):not(.Col):last-child {margin-right: var(--grid-margin)}

$limit: 100/$grid-step;
@for $size from 1 through $limit {
	.Col-#{$size*$grid-step},.Row-#{$size*$grid-step} {
		flex-basis: $size*$grid-step*1%;
		flex-grow: 0;
	}
}

.Container:not(.NoDecoration) {
	> .Header, > .Footer {
		background-repeat: no-repeat;
		filter: none;
		background-color: var(--bg-color);
		background-image: linear-gradient(var(--bg-gradient-angle), var(--bg-gradient-mask-dark), var(--bg-color) var(--bg-gradient-distance), var(--bg-gradient-mask-light));
		color: #ffffff;
	}
}

.Container:not(.App):not(.NoDecoration) {
	border-radius: var(--container-border-radius);

	> * {
		border-style: solid;
		border-color: var(--bg-color);
		border-width: 0px;
		border-radius: 0px;
	}

	> :first-child {
		border-top-left-radius: var(--container-border-radius);
		border-top-right-radius: var(--container-border-radius);
		border-top-width: var(--container-border);
		border-left-width: var(--container-border);
		border-right-width: var(--container-border);
	}

	> :last-child {
		border-bottom-left-radius: var(--container-border-radius);
		border-bottom-right-radius: var(--container-border-radius);
		border-bottom-width: var(--container-border);
		border-left-width: var(--container-border);
		border-right-width: var(--container-border);
	}

	> .Content {
		border-left-width: var(--container-border);
		border-right-width: var(--container-border);
	}
}

.Container:not(.App) {
	background-color: var(--bg);
}

.Footer {
	--bg-gradient-angle: 0deg;
}

.Header.Title {
	font-weight: 800;
	font-size: 1.5rem;
	padding-left: 1rem;
	text-shadow: 3px 3px #333333;
}

.Title:not(.Header) {
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.25;
}

.App {
	@extend .Container;
	background-color: #d9e6f2;
	color: #000000;

	> .Header, > .Footer {
		--bg-color: var(--bg-color-darker);
	}

	> .Content {
		overflow: hidden;
		overflow-y: scroll;
		overflow-y: auto;
	}

}

.Card {
	@extend .Container;
}

.DialogBackdrop {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	background-color: transparent;

	&.Modal {
		background-color: #000000aa;
	}
}

.Dialog {
	@extend .Container;
	max-height: 90%;
	max-width: 90%;
	flex-grow: 0;
	width: auto;
	height: auto;
	align-self: center;
	justify-self: center;
	box-shadow: 5px 8px #57789955;

	> .Header {
		display: block;

		> .Close {
			float: right;
			margin-right: 8px;
			margin-top: 5px;

			&:hover {
				color: red;
				cursor: pointer;
			}
		}
	}

	.Content {
		background-color: #ffffff;
		width: auto;
		height: auto;
		flex-grow: 0;
	}
}

