
form {
	display: flex;
	flex-direction: column;

	> div {
		display: flex;
		flex-direction: column;
	}

	.Row, .Col, .Inline {
		margin: 0px;
	}

	.Row {
		flex-wrap: wrap;
	}

	label, input, select, textarea, a, div.Title, .FormGroup {
		margin: 0.3rem 0.5rem 0.3rem 0.5rem;
	}

	.Row label {
		flex-grow: 0;
	}

	.Group {
		border: 2px inset #003c6b;
		border-radius: 5px;
		width: auto;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}

	.Group label {
		font-weight: normal;
		font-size: 1rem;
	}

	.Stacked {
		flex-grow: 1;
		display: flex;
		flex-direction: column
	}

	input::placeholder {
		color: #003c6b !important;
	}

	.Row.Buttons {
		justify-content: center;
		align-content: center;
	}
}


textarea {
	min-height: 75px;
}

.btn {
	flex-grow: 0;
}

input:not([type=button]), select, textarea {
    border-color: #003c6b;
    border-width: 2px;
	border-radius: 5px;
    color: #003c6b;
}

input[type=checkbox]::before, input[type=checkbox]::after {
    border-color: #003c6b;
    color: #003c6b;
}
