/**<Flex>**/
.Center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Flex {
	display: flex;
}

.Flex.Col {
	flex-direction: column;
}

.Flex.Col.Reverse {
	flex-direction: column-reverse;
}

.Flex.Content-Start {
	justify-content: flex-start;
}

.Flex.Content-End {
	justify-content: flex-end;
}

.Flex.Content-Between {
	align-content: space-between;
}

.Flex.Content-Center {
	justify-content: center;
}

.Flex.Content-Around {
	align-content: space-around;
}

.Flex.Content-Stretch {
	align-content: stretch;
}


.Flex.Items-Start {
	align-items: flex-start;
}

.Flex.Items-End {
	align-items: flex-end;
}

.Flex.Items-Center {
	align-items: center;
}

.Flex.NoWrap {
	flex-wrap: nowrap;
}

.Flex.Wrap {
	flex-wrap: wrap;
}

.Flex.Row {
	flex-direction: row;
	margin: 0px;
	flex-wrap: nowrap;
}

.Flex.Row.Reverse {
	flex-direction: row-reverse;
}

.Flex > .Fixed {
	flex-shrink: 0;
	flex-grow: 0;
}

.Flex > .Expand {
	flex-shrink: 1;
	flex-grow: 1;
}

.Flex > .Self-Start {
	align-self: flex-start;
}

.Flex > .Self-End {
	align-self: flex-end;
}

.Flex > .Self-Center {
	align-self: center;
}
