@use "sass:color";
@use "sass:meta";
@use "_variables" as *;

@debug unquote("#background .bg-primary");
.bg-primary {
	background-image: linear-gradient(lighten($primary-color, 15%), $primary-color 50%, darken($primary-color, 4%));
    background-repeat: no-repeat;
    filter: none;
    border: 1px solid darken($primary-color, 10%);
}

@debug unquote("#background .bg-secondary");
.bg-secondary {
	background-image: linear-gradient(lighten($secondary-color, 15%), $secondary-color 50%, darken($secondary-color, 4%));
    background-repeat: no-repeat;
    filter: none;
    border: 1px solid darken($secondary-color, 10%);
}

$dark: #003c6b;
.bg-dark {
	background-image: linear-gradient(lighten($dark, 15%), $dark 50%, darken($dark, 4%));
    background-repeat: no-repeat;
    filter: none;
    border: 1px solid darken($dark, 10%);
}

$light: #6693ca;
.bg-light {
	background-image: linear-gradient(lighten($light, 15%), $light 50%, darken($light, 4%));
    background-repeat: no-repeat;
    filter: none;
    border: 1px solid darken($light, 10%);
}

$black: #000000;
.bg-light {
	background-image: linear-gradient(lighten($black, 15%), $black 50%, darken($black, 4%));
    background-repeat: no-repeat;
    filter: none;
    border: 1px solid darken($black, 10%);
}


