.theme-primary .breadcrumb {
	background-color: #336699aa;
}
.theme-dark .breadcrumb {
	background-color: #999999aa;
}
.theme-dark .breadcrumb {
	background-color: #003c6baa;
}

.theme-light .breadcrumb {
	background-color: #6693caaa;
}

