:root {
	--black: #000;
	--black-d1: #000000;
	--black-d2: #000000;
	--black-l1: #2c2c2c;
	--black-l2: #555555;
	--blue: #336699;
	--blue-d1: #003c6b;
	--blue-d2: #00173f;
	--blue-l1: #6693ca;
	--blue-l2: #99c4fd;
	--cyan: #3399F3;
	--cyan-d1: #006bc0;
	--cyan-d2: #00428f;
	--cyan-l1: #77c9ff;
	--cyan-l2: #b0fcff;
	--dark: #003c6b;
	--dark-d1: #001740;
	--dark-d2: #00001b;
	--dark-l1: #406699;
	--dark-l2: #7193cb;
	--green: #3CB521;
	--green-d1: #008400;
	--green-d2: #005500;
	--green-l1: #75e856;
	--green-l2: #abff87;
	--light: #6693ca;
	--light-d1: #326699;
	--light-d2: #003c6a;
	--light-l1: #98c3fd;
	--light-l2: #ccf6ff;
	--primary: #336699;
	--primary-d1: #003c6b;
	--primary-d2: #00173f;
	--primary-l1: #6693ca;
	--primary-l2: #99c4fd;
	--purple: #6f42c1;
	--purple-d1: #3b1590;
	--purple-d2: #000061;
	--purple-l1: #a26ff5;
	--purple-l2: #d79fff;
	--red: #CD0200;
	--red-d1: #940000;
	--red-d2: #600000;
	--red-l1: #ff5030;
	--red-l2: #ff855c;
	--secondary: #999999;
	--secondary-d1: #6b6b6b;
	--secondary-d2: #404040;
	--secondary-l1: #cacaca;
	--secondary-l2: #fdfdfd;
	--white: #fff;
	--white-d1: #cccccc;
	--white-d2: #9b9b9b;
	--white-l1: #ffffff;
	--white-l2: #ffffff;
	--yellow: #D47500;
	--yellow-d1: #9d4800;
	--yellow-d2: #6a1c00;
	--yellow-l1: #ffa43f;
	--yellow-l2: #ffd66f;
}
